@model SearchViewModel

@{
    ViewData["Title"] = "Search Results";
}

<partial name="_SearchForm" model="Model" />

<h1 class="mt-2">Results for &ldquo;@Model.Term&rdquo;</h1>

@if (Model.Results == null || Model.Results.Count < 1)
{
    <em>No results.</em>
}
else
{
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id#</th>
                <th scope="col">Year</th>
                <th scope="col">Maker</th>
                <th scope="col">Model</th>
                <th scope="col">Location</th>
                <th scope="col">Category</th>
                <th scope="col">Eligibility</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model.Results)
            {
                <tr>
                    <td>@car.Id</td>
                    <td>@car.Year</td>
                    <td>@car.Maker</td>
                    <td>@car.Model</td>
                    <td>@car.Location</td>
                    <td>@car.Type</td>
                    <td>@car.Eligibility</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2">
                    @if (Model.PrevPage != 0)
                    {
                        <form method="get" action="~/search/">
                            <input value="@Model.Term" id="q" name="q" type="hidden" class="form-control" aria-label="Search" aria-describedby="search-button">
                            <input value="@Model.PrevPage" id="page" name="page" type="hidden">
                            <input value="@Model.PageSize" id="pageSize" name="pageSize" type="hidden">
                            <button type="submit" class="btn btn-cta btn-dark">Prev</button>
                        </form>
                    }
                </div>
            </div>
            <div class="btn-group">
                @if (Model.NextPage != -1)
                {
                    <form method="get" action="~/search/">
                        <input value="@Model.Term" id="q" name="q" type="hidden" class="form-control" aria-label="Search" aria-describedby="search-button">
                        <input value="@Model.NextPage" id="page" name="page" type="hidden">
                        <input value="@Model.PageSize" id="pageSize" name="pageSize" type="hidden">
                        <button type="submit" class="btn btn-cta btn-dark">Next</button>
                    </form>
                }
            </div>
        </div>
    </div>
}